<div class="container">
  <h1 class="page-header">Article Title</h1>
	<h3>Article Subtitle 1</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum nec quam sed mattis. Etiam id diam turpis. Etiam hendrerit enim a sollicitudin ultrices. Duis nec felis augue. Praesent viverra eleifend tellus, sit amet ultricies dolor. Fusce eu mauris a dolor consequat suscipit. Morbi dapibus urna convallis, pulvinar mauris ut, sollicitudin nunc. Proin placerat ante in elit lacinia lacinia. Curabitur in dapibus justo, vitae pharetra magna.

Curabitur aliquam nibh sit amet dolor cursus, interdum molestie odio laoreet. Praesent sagittis lacus est, ac egestas magna molestie ut. Donec id lectus felis. In sed tellus id magna accumsan semper ac et nisi. Nullam luctus, dui ac euismod facilisis, libero quam tristique ipsum, ac bibendum dui risus quis nunc. Nulla maximus fringilla sodales. Nunc molestie mattis enim, ut fringilla nisi ullamcorper nec. Donec suscipit nisl risus, ut eleifend diam commodo non. Vestibulum sit amet libero vel diam convallis dapibus. Fusce auctor arcu dignissim interdum scelerisque. Curabitur pulvinar eget ligula eu suscipit. Quisque hendrerit odio in ligula placerat ullamcorper. Sed bibendum nibh a odio pellentesque semper. Morbi auctor risus id metus aliquet, non interdum lacus fermentum. Cras sed nulla id elit vehicula accumsan ut a ligula.

Nam in iaculis augue. Vestibulum ac ex sed sem porta molestie eu vitae quam. Praesent sed massa libero. Suspendisse volutpat velit quis rutrum dictum. Cras mollis lorem nisi, id gravida urna consectetur eget. Sed cursus quis felis id blandit. Suspendisse ac dapibus nunc, vitae commodo sem. Nam metus nibh, eleifend a arcu rutrum, ultricies semper turpis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

Suspendisse potenti. Vivamus euismod sapien at sapien scelerisque, mollis facilisis lorem eleifend. Aliquam eget lobortis neque. Nullam ut lacus ac nunc aliquam euismod vel ut enim. In sed velit ut justo dictum laoreet ac vehicula elit. Maecenas dictum dolor leo, non fringilla nulla tempus vitae. Quisque eu sapien efficitur, mollis lacus at, vehicula dui. In hac habitasse platea dictumst. Aenean eleifend metus sem, vitae feugiat ipsum porttitor vel. Maecenas a lacinia enim. Nullam at ultrices magna, at placerat nisl. Ut congue lorem dignissim tellus ullamcorper, et rhoncus diam rhoncus. Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Sed ligula quam, rutrum et risus ut, mollis semper nisi. </p>
	
	<br>
	<h3>Article Subtitle 2</h3>
	<a class="thumbnail" href="#">
		<img class="img-responsive" src="http://placehold.it/400x300" alt="">
	</a>
	
	<br><br><hr>
	<h2>Related Topics</h2>
	<a href="#">Related Content 1</a><br>
	<a href="#">Related Content 2</a><br>
	<a href="#">Related Content 2</a><br>


</div>


<!--
<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %> -->
