<p id="notice"><%= notice %></p>



<div class="container">
	<h1 class="text-center">Listing Articles</h1>
	<hr>
	<% @categories.each do |category| %>
	  	<div class="col-md-2">
			<div>
				<h4><strong><%= link_to category.name, category %></strong></h4>
				<hr>
				<% category.subcategories.each do |subcategory| %>
					<h5><strong><%= link_to subcategory.name, subcategory %></strong></h5>
					<% subcategory.articles.each do |article| %>
						<h6><%= link_to article.title, article %></h6>
				    	<% end %>
					<hr>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
<br>

<%= link_to 'New Article', new_article_path %>
