<!DOCTYPE html>
<html>
<head>
  <title>Upod</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% asset_name = "controllers/#{controller_name}/#{action_name}" %>
  <% if Rails.application.assets.find_asset(asset_name) %>
    <%= javascript_include_tag asset_name, 'data-turbolinks-track' => true %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= render partial: "static_pages/header" %>
  <%= yield %>
  <%= render partial: "static_pages/menu" %>
  <%= render partial: "static_pages/footer" %>
</body>
</html>
