<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <%= link_to root_path, class: 'navbar-brand' do %>
            <%= image_tag 'upod_logo_color_v2.png', width: 100 %>
            <% end %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown mega-dropdown">
                    <a href="#" class="dropdown-toggle" style="width:auto;" data-toggle="dropdown">Categories <span class="caret"></span></a>
                    <ul class="dropdown-menu mega-dropdown-menu row">
                			<% @categories.each do |category| %>
                  			<li class="col-sm-2">
                  				<ul>
                  				   <li><%= link_to category.name, category, :class => "dropdown-header" %></li>
                  					      <% category.subcategories.each do |subcategory| %>
                  						          <li>
                                          <%= link_to subcategory.name, subcategory %>
                                        </li>
                  					      <% end %>
                  				</ul>
                  			</li>
                      <% end %>

                    </ul>
                </li>

                <li>
                  <%= link_to "About", about_path, :style => "width:auto;" %>
                </li>
                <li>
                  <%= link_to "Articles", articles_path, :style => "width:auto;" %>
                </li>
              </ul>
              <% unless current_page?(root_path) %>
                <ul class="nav navbar-nav navbar-right">
                <!-- nav search -->
                  <form class="navbar-form" role="search" style="margin-right:auto;margin-left:auto;">
                    <ul class="input-group">
			                <span class="input-group-btn">
		                     <%= select_tag :filter, options_from_collection_for_select(Category.all, :name, :name),
                         {prompt: params[:filter].present? ? params[:filter] : "Filter", :class => "btn btn-select resizeselect", :style => "width: 60px; -moz-appearance: none; -webkit-appearance: none;"}%>
			                </span>
                      <%= text_field_tag :q, params[:q], class: 'form-control' %>
                      <span class="input-group-btn">
                        <%= button_tag(type: :submit, class: 'btn btn-default') do %>
      				              <span class="glyphicon glyphicon-search">
                            </span>
      			            <% end %>
                      </span>
                    </ul>
                </form>
              </ul>
            <% end %>
        </div>
    </div>
</nav>
