<nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: 'navbar-brand' do %>
            <%= image_tag 'upod_logo_color_v2.png', width: 100 %>
          <% end %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "About", "about" %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Category 1", "categories" %></li>
                <li><%= link_to "Category 2", "categories" %></li>
                <li><%= link_to "Category 3", "categories" %></li>
                <li><%= link_to "Category 4", "categories" %></li>
                <li><%= link_to "Category 5", "categories" %></li>
                <li><%= link_to "Category 6", "categories" %></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right"> <!-- nav search -->
						<form class="navbar-form" role="search">
							<ul class="input-group">
								<input type="text" class="form-control" placeholder="Search" name="q">
								<li class="input-group-btn">
									<button class="btn btn-default" type="submit">Go</button>
								</li>
							</ul>
						</form>
          </ul> <!-- end nav search -->
        </div><!--/.nav-collapse -->
      </div>
    </nav>
