<body style="background-color:#330072;">
	<div class="container-fluid" style="margin-bottom:10%"> <!--image/search bar-->
    <div class="row">
      <div class="col-md-12">
        <%= link_to root_path do %>
          <%= image_tag('logo.png', :class => "center-block", :style => "margin-top: 5%; margin-bottom: 40px;")%>
        <% end %>
      </div>
    </div> <!-- .row -->
    <div class="row"> <!-- Search bar -->
      <div class="col-md-6 col-md-offset-3">
        <%= form_tag articles_path, method: :get, role: 'search' do %>
          <div class="form-group" style="display:inline;">
            <div class="input-group">
      	     <span class="input-group-btn" style="padding:0px;">
              <%= select_tag "category_search", options_from_collection_for_select(Category.all, "id", "name"),
                {prompt: "Filter by Category", :class => "btn btn-default", :style => "-moz-appearance: none; -webkit-appearance: none;"} %>
      	     </span>
              <%= text_field_tag :q, params[:q], class: 'form-control' %>
              <span class="input-group-btn">
                <%= button_tag(type: :submit, class: 'btn btn-default') do %>
      					 <span class="glyphicon glyphicon-search"> </span>
      				  <% end %>
			       </span>
            </div> <!-- .input-group -->
          </div> <!-- .form-group -->
        <% end %>
      </div>
    </div> <!-- end Search bar -->
  </div> <!--end image/search bar-->


	<div class="container" style="margin-top:10%">
		<!-- categories -->
		<div class="row">
			<% @categories.each do |category| %>
        			<div class="col-md-4 col-xs-6 thumb">
					<div class="caption" align=center >
          					<h4 style="color:#ffcc00;"><strong><%= category.name %></strong></h4>
        				</div>
          				<%= link_to image_tag(category.image, :class => "img-responsive"), category, :class => "thumbnail" %>
					
        			</div>
        			
      			<% end %>
		</div>
	</div>
	<!-- end categories -->
<body>
